
<div class="flex items-center justify-between bg-primary-red text-white h-12">
  <div class="flex items-center">
    <%= image_tag("logo.png", class: "w-12 h-12 ml-4") %>
    <h1 class="text-3xl font-bold text-center ml-2">
      PlayBridge
    </h1>
  </div>
  <form class="mr-4" method="get" action="/logout">
    <button type="submit" class="bg-white text-white rounded-full px-4 py-2 shadow-md">
      Sign out
    </button>
  </form>
</div>

<div class="flex justify-center items-center h-screen">
   <%= button_to "Create game", games_path, class: "bg-primary-red hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" %>
</div>


