<%= turbo_stream_from @hand %>
<div class="flex flex-row justify-between">
  <% @hand.cards.each do |card| %>
  <div class="w-1/13">
    <%= render partial: 'cards/card', locals: { card: card } %>
    <%= image_tag "cards/#{card.suit}-#{card.value}.png", class: 'w-32 h-46 m-2 float-left' %>
  </div>
  <% end %>
</div>