

<%# <div class="players">
  <% @game.user.each do |user| %>
    <%# <%= render partial: 'hand', locals: { hand: @game.hands.find_by(user: user) } %>
  <%# <% end %>
<%# </div> %>

<h1>
  Game <%= @game.id %>
</h1>
<p>
      Current player count: <%= Playable.where(game: @game).count %>
      <% if Playable.where(game: @game).count < 4 && Playable.where(game: @game, user: current_user).count == 0  %>
        <%= link_to "Join", new_playable_path(game_id: @game.id), class: "btn btn--secondary" %>
      <% else %>
        Show game
        HAPPY PATH
      <% end %>
    </p>

